.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    .headerContainer{
        width: 100%;
        max-width: 1240px;
        align-items: center;
        margin: 20px 0px 100px 0px;
    .headerList{
       display: flex;
       gap: 40px;
       margin-bottom: 50px;
       .headerListItem{
          gap: 10px;
          align-items: center;
          display: flex;
       }
       .active {
        border: 1px solid white;
        padding:10px;
        border-radius: 20px;
       }
     }
     .headerDesc{
        margin: 20px 0px;
     }
     .headerBtn {
        padding: 10px;
        border: none;
        cursor: pointer;
        background-color:#0071c2;
        font-weight:500;
        color:white;
     }
     .headerSearch {
      background-color: white;
      border: 3px solid #febb02;
      display: flex;
      justify-content:space-between;
      height:30px;
      align-items:center;
      padding: 20px 0px;
      border-radius: 5px;
      position: absolute;
      bottom: -25px;
      width: 100%;
      max-width: 1024px;
      .headerSearchInput{
         border: none;
         outline: none;
      }
      .headerSearchItem {
         display: flex;
         align-items: center;
         gap: 10px;
         .headerIcon {
            color: lightgray;
          }
         .headerSearchText {
            color: lightgray;
            cursor: pointer;
          }
       }
     }
    }
}